<%= form_for(@dog) do |f| %>
<% if @dog.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@dog.errors.count, "error") %> prohibited this dog from being saved:</h2>

  <ul>
    <% @dog.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="form-group">
  <%= f.label :name %><br>
  <%= f.text_field :name, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :birthday_at %><br>
  <%= f.date_select :birthday_at, {}, {class: 'form-control form-group'} %>
</div>
<div class="form-group">
  <%= f.label :description %><br>
  <%= f.text_area :description, class: 'form-control' %>
</div>
<div class="actions">
  <%= f.submit nil, class: 'btn btn-primary' %>
</div>
<% end %>
