<div class="page-header">
	<%= content_tag :p, link_to('New Dog', new_dog_path), class: 'pull-right' if true -%>
	<h1>Dogs</h1>
	<p class="lead">Here you will find an active list of our current dogs available at the shelter. If you see an animal you like and wish to have more information you can <%= link_to 'call us', 'tel:1-352-596-7000' -%> or send an <%= link_to 'inquiry message', '#formModal' -%>.</p>
</div>



<%= render 'animals/list' -%>