<div class="row">
	<% @animals.each do |animal| %>
	<div class="col-xs-6 col-sm-4 col-md-3">
		<div class="thumbnail auto-height">
			<%= link_to '', animal, class: 'animal-thumb', style: "background-image: url('http://upload.wikimedia.org/wikipedia/commons/5/5f/Pancho0008.JPG');" -%>
			<div class="caption">
				<h3>
					<%= animal.name -%>
					<small><%= animal.age -%></small>
				</h3>
				<%= animal.description -%>
			</div>
		</div>
	</div>
	<% end -%>
</div>