/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require bootstrap.min
 *= require bootstrap-theme.min
 *= require_self
 */

/*body { padding-top: 70px; }*/

#logo {
	margin-left: 65px;
}

@media (min-width: 768px) {
	#header-info {
		text-align: right;
		margin-top: 90px;
	}
}

@media (max-width: 767px) {
	.navbar-brand {
		font-size: 17px;
	}

	#logo {
		display: block;
		margin: 0 auto;
	}

	#header-info {
		text-align: center;
		margin-top: 15px;
	}
}

.img-responsive-center {
	display:block;max-width:100%;height:auto;
	margin: 0 auto;
}