<div class="panel panel-default">
	<div class="panel-body">
		<form class="form">
			<fieldset>
				<legend>Contact Us</legend>
				<div class="form-group">
					<%= text_field_tag 'first_name', nil, placeholder: 'Full Name', class: 'form-control' -%>
				</div>
				<div class="form-group">
					<%= text_field_tag 'email', nil, placeholder: 'Email', class: 'form-control' -%>
				</div>
				<div class="form-group">
					<%= text_field_tag 'phone', nil, placeholder: 'Phone', class: 'form-control' -%>
				</div>
				<div class="form-group">
					<%= text_area_tag 'message', nil, placeholder: 'Your Message', class: 'form-control' -%>
				</div>

				<p class="small">SPCA will contact you via this form on all your inquiries. Please make sure to fill out the required fields (Name, Email, and Message), you may also add your phone number and other contact information.</p>

				<div class="form-group text-right">
					<button type="submit" class="btn btn-warning">Submit</button>
				</div>
			</fieldset>
		</form>
	</div>
</div>