<div class="page-header">
	<h1>Donations & Gifts</h1>
	<p class="lead">
		The Society For The Prevention of Cruelty to Animals of Hernando County, Inc. is a nonprofit, no-kill, volunteer organization dedicated to the welfare of animals. All donations and gifts are tax deductable to the extent allowed by law.
	</p>
</div>



<section class="row">
	
	<div class="col-md-4">
		<h3>Our Wish List</h3>
		<div class="row">
			<div class="col-sm-6 col-md-12">
				<div class="panel panel-info">
					<div class="panel-body">
						<h4>For Dogs</h4>
						<ul>
							<li>
								Gift Cards for Kennels
								<ul>
									<li>Home Depot</li>
									<li>Lowes</li>
								</ul>
							</li>
							<li>Pedigree Canned Food</li>
							<li>Leashes</li>
							<li>Collars</li>
							<li><a href="http://www.critteroil.com" target="_blank">Critter Oil</a></li>
						</ul>
						<h4>For Cats</h4>
						<ul>
							<li>Friskies Canned Food</li>
							<li>Scoopable/Clumping Cat Litter</li>
							<li><a href="http://kuranda.com/donate/10304" target="_blank">Kuranda Cat Beds</a></li>
						</ul>
						<h4>For Staff</h4>
						<ul>
							<li>Fabuloso Cleaners (Any)</li>
							<li>Brooms</li>
							<li>Mop Heads</li>
							<li>Laundry Detergent</li>
							<li>Dawn (Blue)</li>
							<li>Disenfectant Wipes</li>
						</ul>
						<h4>For the Office</h4>
						<ul>
							<li>Stamps</li>
							<li>Ink Pens</li>
							<li>Copy Paper</li>
							<li>HP 564 Printer Ink (Black/Color)</li>
							<li>
								Batteries
								<ul>
									<li>AA</li>
									<li>9V</li>
								</ul>
							</li>
						</ul>
						<h4>Monetary Donations</h4>
						<ul>
							<li>To be used for Veterinary Care and Medications</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="col-sm-6 col-md-12 text-center">
				<div id='razoo_donation_widget'><span><a href="http://www.razoo.com/">Raise money online</a> for <a href="http://www.razoo.com/story/Society-For-The-Prevention-Cruelty-To-Animals-Of-Hernando-County">SOCIETY FOR THE PREVENTION CRUELTY TO ANIMALS OF HERNANDO COUNTY INC</a></span></div><script type='text/javascript'>var r_protocol=(("https:"==document.location.protocol)?"https://":"http://");var r_path='www.razoo.com/javascripts/widget_loader.js';var r_identifier='Society-For-The-Prevention-Cruelty-To-Animals-Of-Hernando-County';document.write(unescape("%3Cscript id='razoo_widget_loader_script' src='"+r_protocol+r_path+"' type='text/javascript'%3E%3C/script%3E"));</script>
			</div>

		</div>
	</div>
	<div class="col-md-8">
		<h3>Gifts</h3>
		<h4>Retirement Assets as Gifts</h4>
		Retirement assets are one of the most beneficial gifts you can give to the SPCA. These funds grow tax-free, until the time of withdrawal. With the innovative use of these assets, you are able to contribute generously to the SPCA as well as provide for your loved ones. Many taxes on these plans can be avoided or reduced through a carefully planned charitable gift.

		<h4>Gifts of Insurance</h4>
		Add a beneficiary to your policy. It is relatively simple to make a change to the beneficiary/beneficiaries of your insurance policy without changing your will or other aspects of your estate plan. Just ask your insurance company for a form that will allow you to make the SPCA a beneficiary of your insurance policy.

		<h4>Give a paid-up policy</h4>
		You can transfer ownership of a paid-up life insurance policy to the SPCA. After the transfer, the SPCA can elect to either cash in the policy right away or keep the policy and receive the death benefit later. You would receive an immediate income tax deduction for either the cash surrender value or the basis (usually the cost), whichever is less.

		<h4>Making the SPCA the owner and beneficiary</h4>
		You can take out a policy and make the SPCA the owner and beneficiary of the policy. Premium payments can be made by you directly to the insurance company. Your gift allows you to take an income tax deduction.

		<h4>Corporate Giving</h4>
		If you’re a business or corporation and are interested in fundraising on our behalf please email <a href="mailto:Ravenne64@gmail.com">luvnshelter@aol.com</a>.

		<h4>Dedication Gift</h4>
		You can further the SPCA’s lifesaving work and help build a humane country for all animals by providing a gift dedication to a loved one. It’s the perfect answer for holidays, birthdays or just because. An SPCA dedication gift makes a real difference in the fight to end animal cruelty and find permanent, loving homes for America’s adoptable pets.

		<h4>Honor Gift</h4>
		An Honor Gift is a wonderful way to celebrate the special people, animals and events in your life—and give the gift of life for animals in need. Thank you for making a difference today! With your honorary donation, we will mail a paper greeting card to the recipient and inform that person of your gift. After you submit your donation and receive a confirmation, you will be able to specify a mailing address and message for the card. Please allow 10-14 business days for delivery of the card.

		<h4>Memorial Gift</h4>
		A Memorial Gift is a beautiful testimony to the life of a beloved person or pet that has passed on—and the gift of life for animals in need. It can be just the right touch for expressing compassion to someone who has had a loss. With your memorial donation, we will mail a paper card to the recipient of your choice and inform that person of your gift. After you submit your donation and receive a confirmation, you will be able to specify a mailing address and message. Please allow 10-14 business days for delivery of the card.

		<h4>Vehicle Donation</h4>
		You can donate any car, truck – in good working condition – to help us save animals and get a tax deduction at the same time! It’s quick, easy and an all-around a win-win giving opportunity. What better way to get rid of an old or extra vehicle than turning it into the resources needed to support our animals? Through this simple act you will be helping the SPCA in our efforts to find permanent, loving homes for all our homeless pets. <a href="http://www.irs.gov/pub/irs-pdf/p4303.pdf" target="_blank">Find more information on donating a vehicle</a>.

		<h4>Food, Blanket Donations</h4>
		Are you collecting donations of pet food, toys or bedding for homeless animals? Unopened food, towels, bedding and toy donations may be dropped off at our Adoption Center located at 9075 Grant Street, Brooksville, Florida 34613 during our regular adoptions hours, Sunday to Saturday 11:00 A.M. – 4:00 P.M.

		<h4>Want to set up a workplace giving program at your company?</h4>
		Independent Charities of America operates GiveDirect, an online giving program that companies can use free of charge to manage either a year-round or an annual fund drive program.  100% of an employee’s pledge is passed on to their charity of choice. ICA can customize each company’s giving site to mirror the look and feel of the company’s own website or intranet site.  Companies can include some or all of ICA’s charity members, and they can add as many other charities to the list as they like.  There is also a back-end reporting website for company administrators and payroll personnel to generate reports and track pledges.
	</div>

</section>