<section class="row">
	<div class="col-sm-7 col-md-8 lead">
		We are a limited-space, no-kill humane shelter in which all animals are treated with respect and kindness. We provide temporary housing for the homeless, neglected and abandoned animals. Our Guiding Principles include providing our animals with freedom from hunger, thirst, discomfort, pain, injury, disease, and distress.
	</div>
	<div class="col-sm-5 col-md-4">
		<%= image_tag 'pets.jpg', class: 'img-responsive-center' -%>
	</div>
</section>

<section class="row">
	<div class="col-md-4">
		<hr class="visible-sm visible-xs">
		<div class="media">
			<div class="media-left">
				<%= image_tag 'icon-adopt.jpg', style: 'width: 64px; height: auto;' -%>
			</div>
			<div class="media-body">
				<h3 class="media-heading">Adopt</h3>
				<p>
					<div class="row">
						<div class="col-xs-6">
							<%= link_to 'Cats', '#cats_path', class: 'btn btn-info btn-md btn-block' -%>
						</div>
						<div class="col-xs-6">
							<%= link_to 'Dogs', dogs_path, class: 'btn btn-info btn-md btn-block' -%>
						</div>
					</div>
				</p>
				Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<hr class="visible-sm visible-xs">
		<div class="media">
			<%= link_to image_tag('icon-donate.png', style: 'width: 64px; height: auto;'), donate_url, class: 'media-left' -%>
			<div class="media-body">
				<h3 class="media-heading">Donate</h3>
				SPCA of Hernando County recieves no government funding. View our <%= link_to 'Donate', donate_url, class: 'label label-danger' -%> page to see a list of requested items. All donations and gifts are tax deductable to the extent allowed by law.
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<hr class="visible-sm visible-xs">
		<div class="media">
			<a class="media-left" href="#">
				<%= image_tag 'icon-volunteer.jpg', style: 'width: 64px; height: auto;' -%>
			</a>
			<div class="media-body">
				<h3 class="media-heading">Volunteer</h3>
				Cras sit amet nibh libero, in gravida nulla. Nulla vel <%= link_to 'Tour', '#', class: 'label label-success', data: {toggle: :modal, target: '#tourModal'} -%> metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
			</div>
		</div>
	</div>
</section>

<hr>

<section class="row">
	<div class="col-md-7">
		<h4>About the Society for the Prevention of Cruelty to Animals</h4>
		<p>
			Joyce Hudson and others were appalled by the lack of humane treatment afforded to many of the animals in Hernando County. Joyce’s efforts and persistence resulted in her becoming the head of the county Animal Control Services Department. After a while, Joyce left that post and with others, founded a corporation named the Animal Advisory Board. They operated out of various homes and garages. In 1984, the corporate name was changed to the Society for the Prevention of Cruelty to Animals. Joyce relocated and others, such as Rosalie Fredericks, carried on.
		</p>
		<p>
			There was going to be a shelter through many small fundraisers and a number of people concerned about the plight of the animals in our county, providing for them in their estate planning. One individual won the lottery and donated a sizeable sum to the organization. Land was purchased and the building started. This building would be used to house the animals, provide care for them, and to adopt out the animals. June 1995 was the grand opening of the shelter.
		</p>
		<%= content_tag :p, image_tag('https://www.aspca.org/sites/all/themes/aspca/logo.png'), class: 'text-center' -%>
	</div>
	<hr class="visible-sm visible-xs">
	<div class="col-md-5">
		<%= render 'site_pages/form' -%>
	</div>
</section>

<!-- Modal -->
<div class="modal fade" id="tourModal" tabindex="-1" role="dialog" aria-labelledby="tourModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="tourModalLabel">SPCA Tour</h4>
			</div>
			<div class="modal-body">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item" src="//www.youtube.com/embed/Ylg6RkaFmMA?rel=0" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
