<section class="row">
	
	<div class="col-md-12">
		<h3>Intake Procedure</h3>
		<div class="panel panel-danger">
		<div class="panel-body">
		<p class="text-danger">
			<strong>All animals must be seen by a staff member before being accepted.</strong>
		</p>
		<p>
			<strong>Dogs 7 months or older:</strong><br>
			Must have a current rabies vaccine and a negative heartworm test. These vaccines can be obtained at your vet’s office or PetLuv clinic.
		</p>
		<p>
			<strong>Cats & Kittens:</strong><br>
			Must have a current rabies vaccine and a negative combo test. These vaccines can be obtained at your vet’s office or PetLuv clinic.
		</p>
		</div>
		</div>
	</div>
	<div class="col-sm-6">
		<h3>Safety & Vaccinations</h3>
		<div class="embed-responsive embed-responsive-16by9">
			<iframe class="embed-responsive-item" src="//www.youtube.com/embed/UCuxPA_Ixzc?rel=0"></iframe>
		</div>
	</div>
	<div class="col-sm-6">
		<h3>Links</h3>
		<div class="panel panel-info">
			<div class="panel-body small">
				<a href="">PetLuv</a> - Non-Profit Animal Clinic.<br>
				<a href="">PetFinder</a> - Pet Adoption with search engine.<br>
				<a href="">PetPages</a> - Pet Resource Directory<br>
				<a href="">Facebook</a> - Our Facebook Page<br>
				<a href="">Tropicare</a> - Pest Control<br>
				<a href="">Radco</a><br>
				<a href="">Bargain Warehouse</a><br>
				<a href="">AJs Pump and Well</a><br>
				<a href="">Martinez Appliances</a>
			</div>
		</div>
	</div>
</section>

<section class="row">
	<div class="col-md-6">
		<h3>Heartworm Disease Information for Dogs</h3>
		<p>
			Heartworm disease acts very differently in dogs. Dogs are the definitive host for heartworm disease. This means dogs get an immature form of the worms from a mosquito, and the worms then mature to adults and reproduce in the dog.
		</p>
		<p>
			There are three blood tests that are routinely used to detect heartworm disease in small animals. The first is an occult heartworm test. this test is used in dogs that receive heartworm preventative during the mosquito season or ideally year round (heartgard, interceptor, etc.) and in dogs that are not on heartworm preventative. The test detects if there are adult heartworms present in the dog&#8217;s body by detecting proteins, or antigens, released by mature female heartworms. Since dogs with adult heartworms usually have lots of mature worms, there is usually a lot of antigen present to be detected. If a dog has a positive occult test, it has adult heartworms in its heart and/or pulmonary arteries. If a dog has a negative occult test, it does not have adult heartworms.
		</p>
		<p>
			The second heartworm test is a microfilaria or modified Knott&#8217;s test. Microfilarias are larva or immature forms of heartworms. Microfilarials tests detect larval heartworms that are either given to a dog from an infected mosquito or produced from adult heartworms living in the dog. Heartworm preventatives kill or prevent maturing of microfilaria, so this test in not performed on dogs receiving preventative. However, this test is preformed because a dog could have microfilaria without having adult worms if the dog is bitten by a mosquito carrying heartworm disease and the microfilaria have not had enough time to mature to adult heartworms.
		</p>
		<p>
			The third heartworm test is an antibody test. this test determines whether or not an animal has made antibodies against heartworm antigens. The test only tells veterinarians if the animal has been exposed to heartworms. It does not tell veterinarians whether or not an animal has heartworm infection in its body.
		</p>
		<p>
			Prevention is the key to preventing heartworm disease in our animals.
		</p>
	</div>
	<div class="col-md-6">
		<h3>Family and Your Pet</h3>
		<p>
			<strong>Kids and pets—a natural fit, right?</strong><br />
			Indeed, raising a child and pet together can be a lot of fun for the whole family, however creating healthy kid-pet relationships can be challenging and difficult. Here we offer tips to teach young members of the family to care for and &#8220;play nice&#8221; with their pets, helping to foster humane habits and a lifelong bond.
		</p>
		<p>Important ways to help prevent animal cruelty in your neighborhood:</p>
		<ol>
			<li>
				Contact your local law enforcement department and let them know that investigating animal cruelty should be a priority. Animal cruelty is a CRIME—and the police MUST investigate these crimes.
			</li>
			<li>
				Fight for the passage of strong anti-cruelty laws on federal, state and local levels. With stronger laws come tougher penalties. Write letters encouraging your legislators to pass these laws—and you can send them directly from our website.
			</li>
			<li>
				Set a good example for others. If you have pets, be sure to always show them the love and good care they deserve. But it&#8217;s more than just food, water, and adequate shelter. If you think your animal is sick, bring him to the veterinarian. Be responsible and have your animals spayed or neutered. And give your pets lots of hugs!
			</li>
			<li>
				Talk to your kids about how to treat animals with kindness and respect. Regularly we see children in homes where animal abuse has been reported. If a parent isn&#8217;t treating the family&#8217;s pets right, we tell the kids that their dog or cat would really appreciate fresh water every day or some daily playtime. If the animal has been left outside without shelter, we&#8217;ll say, &#8216;You have a nice house, and if you get cold, you can put a coat on. But your dog can&#8217;t do that.&#8217; Children need to understand that animals are living creatures that have the ability to feel pain, joy and sadness.
			</li>
			<li>
				Support your local shelter or animal rescue organization. It&#8217;s a great way to make a difference. Some of our SPCA volunteers foster animals that have been abused in their former homes, giving these dogs and cat the chance they deserve to have a good life. You can find a list of shelters and rescue groups in your area in by visiting petfinder.com/shelters.
			</li>
			<li>
				Start a Neighborhood Watch Program. Get to know the animals in your neighborhood and invite your friends and neighbors to do the same. Together you can keep an eye out for any suspicious behaviors—abuse and neglect of companion animals, the mistreatment of local wildlife, dogs left in hot cars.
			</li>
		</ol>
	</div>
</section>