<% flash.each do |key, msg| -%>

	<% case key
	when 'notice'
		bs_class = 'info'
	when 'alert'
		bs_class = 'danger'
	else
		bs_class = 'warning'
	end -%>

	<%= content_tag :div, id: key, class: "alert alert-#{bs_class} alert-dismissable" do -%>
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		<%= msg -%>
	<% end -%>

<% end -%>


<% if false; if current_user.password.nil? -%>
<div class="alert alert-warning alert-dismissible fade in" role="alert">
	<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
	<h4>You do not have a password set!</h4>
	<%= content_tag :p, link_to('Set one now', edit_user_password_path, class: 'btn btn-primary') -%>
</div>
<% end; end -%>