<hr>
<footer class="container">

	Copyright &copy; <%= Time.now.year -%> Kevin McCarthy. All Rights Reserved.
	<!-- Copyright &copy; <%= Time.now.year -%> SPCA of Hernando County. All Rights Reserved. -->

</footer>