<header class="row">
	<div class="col-sm-8 col-sm-push-4 small" id="header-info">
		<p>
			9075 Grant St. Brooksville, FL 34613<br>
			11:00 AM - 4:00 - Daily<br>
			<a href="tel:1-352-596-7000">(352) 596-7000</a>
		</p>
	</div>
	<div class="col-sm-4 col-sm-pull-8">
		<%= link_to image_tag('logo-spca.png', id: 'logo'), root_url -%>
	</div>
</header>