<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<%= link_to 'SPCA of Hernando County', root_url, class: 'navbar-brand' -%>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<!-- <ul class="nav navbar-nav"></ul> -->

			<ul class="nav navbar-nav navbar-right">
				<%= nav_link_to 'Cats', '#cats_path' -%>
				<%= nav_link_to 'Dogs', dogs_path -%>
				<%= nav_link_to 'Resources', resources_url -%>
				<%= nav_link_to 'News', '#news' -%>
				<%= nav_link_to 'Thrift Store', '#store' -%>
				<%= nav_link_to 'Donate', donate_url -%>
			</ul>
		</div><!-- /.navbar-collapse -->

	</div>
</nav>