<!DOCTYPE html>
<html>
<%= render 'layouts/head' -%>
<body>

	<div class="container">
		<%= render 'layouts/header' -%>
		<%= render 'layouts/nav' -%>
		<%= render 'layouts/flash' -%>
		<%= yield %>
	</div>

	<%= render 'layouts/footer' -%>

</body>
</html>
